body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header */
.header{
  position: relative;
  text-align: center;
  color: white;
}
.header_image {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.header_title {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  width: 40%;
  background: rgba(188,192,195,.6);
  font-size: 33pt;
}

/* UploadForm */
.header_upload_form_contrainer{
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(188,192,195,.6);
  
}

/* Block */
.block {
  overflow: auto;
  border-top: #72A887 2px solid;
  height: 150px;
}

.block_icon {
  height: 100px;
}
.block_icon_right {
  float: right;
}
.block_icon_left {
  float: left;
}

/* Result */
.result_container{
  position: absolute;
  top: 60%;
  left: 50%;
  width: 500px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(188,192,195,.6);
}
.result_image{
  float: left;
  max-width: 200px;
  height: 200px;
  object-fit: cover;  
}